@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0f0e10;
    --foreground: #e5e4e2;
    --primary: #e6e6e6;
    --primary-foreground: #000000;
    --secondary: #252428;
    --secondary-foreground: #d9d8d6;
    --accent: #212121;
    --accent-foreground: #ffffff;
    --destructive: #cc2929;
    --destructive-foreground: #fafafa;
    --muted: #3f3f43;
    --muted-foreground: #d9d8d6;
    --card: #1a1919;
    --card-foreground: #e5e4e2;
    --popover: #252428;
    --popover-foreground: #d9d8d6;
    --border: #333238;
    --input: #333238;
    --ring: #e6e6e6;

    --chart-1: #e57260;
    --chart-2: #2d856f;
    --chart-3: #0c0d0e;
    --chart-4: #e5c160;
    --chart-5: #eba554;
    --chart-6: #3d9d6c;
    --chart-7: #9d3d96;
    --chart-8: #cc3366;
    --chart-9: #2d77cc;
    --chart-10: #090908;
    --chart-11: #993366;
    --chart-12: #2d7993;
    --chart-13: #6c9d3d;
    --chart-14: #4b3d9d;
    --chart-15: #e63358;
    --chart-muted: #a1a1aa;
    --chart-completed: #2d856f;
    --chart-lapped: #2d77cc;
    --chart-collision: #e5c160;
    --chart-mechanical: #9d3d96;
    --chart-other: #e57260;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance;
  }
}
