@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0f0e10;
    --foreground: #e5e4e2;
    --primary: #e6e6e6;
    --primary-foreground: #000000;
    --secondary: #252428;
    --secondary-foreground: #d9d8d6;
    --accent: #212121;
    --accent-foreground: #ffffff;
    --destructive: #cc2929;
    --destructive-foreground: #fafafa;
    --muted: #3f3f43;
    --muted-foreground: #d9d8d6;
    --card: #1a1919;
    --card-foreground: #e5e4e2;
    --popover: #252428;
    --popover-foreground: #d9d8d6;
    --border: #333238;
    --input: #333238;
    --ring: #e6e6e6;

    --chart-1: #e57260; /* Coral red */
    --chart-2: #2d856f; /* Teal */
    --chart-3: #1f3947; /* Dark blue */
    --chart-4: #e5c160; /* Gold */
    --chart-5: #eba554; /* Orange */
    --chart-6: #3d9d6c; /* Forest green */
    --chart-7: #9d3d96; /* Purple */
    --chart-8: #cc3366; /* Pink */
    --chart-9: #2d77cc; /* Blue */
    --chart-10: #ccc82d; /* Yellow */
    --chart-11: #993366; /* Magenta */
    --chart-12: #2d7993; /* Dark cyan */
    --chart-13: #6c9d3d; /* Lime green */
    --chart-14: #4b3d9d; /* Indigo */
    --chart-15: #e63358; /* Bright red */

    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance;
  }
}
